
<%- time2 = 0 %> 
<%- room_span = {} -%>
<%- time1 = $TIMETABLESTART -%>
<%- range = $TIMETABLEEND * 4 -%>	
<%- range.times do -%>
	<tr><%- until_time = ((time2 + 15) unless time2 == 45) || 0 -%>
		<% time2_real = time2.to_i.zero? ? "00" : time2 %>
		<td><%= time1 %>:<%= time2_real %> - <%= until_time == 0 ? (time1 + 1) : time1 %>:<%= until_time.to_i.zero? ? "00" : until_time %></td>
		<%# Schleife über 5 Werktage
		  # Es wird für jede Stunde geprüft ob ein Kurs zum aktuellen Tag und dem aktuellen Raum existiert 
		  # Wenn zwei oder mehr Kurse für die selbe Zeit eingetragen sind, erscheint eine Fehlermeldung %>
		<%- @allRooms.each do |r| -%>
			
			<%- courseNow = Course.find(:all, :conditions => "start like '%#{time1-1}:#{time2_real}%' AND weekday = #{@weekday} AND room_id = #{r.id}") -%>
			<!--  <%= "+++++++++++++++++ RAUM " + r.name + "( time1,time2_real,weekday => " + (time1-1).to_s + " " + time2_real.to_s + " " + @weekday.to_s + " )" %>  -->
			<%- if courseNow.count > 1 -%>
				<td class="timeTableCell"> <p class="warning">Überschneidung!</td>
			<%- elsif !courseNow[0].nil? -%>
				<%- room_span[r.id] = ((courseNow[0].duration - courseNow[0].start) / 900).to_i -%>
				<td class="timeTableCell" rowspan="<%= room_span[r.id] %>">
				<%= link_to courseNow[0].name, courseNow[0] %></td>
			<%- else -%>
				<%- if (room_span[r.id].to_i-1) <= 0 -%>
					<td class="timeTableCell">
						<%= link_to "&nbsp;", new_course_path(:room => r.id, :day => @weekday, :time => (time1.to_s+time2_real.to_s)), :class => :newCourse, :title => "new Course" %></td>
				<%- else -%>
					<%- room_span[r.id] -= 1 -%>
					<%# here is no cell because rowspan is still "activated" %>
				<%- end -%>
			<%- end -%>
			
		<%- end -%>

	</tr>
	<% time2 += 15%>
	<% if time2 > 45 %>
		<% time2 = 0 %>
	<% end %>
	<% if time2 == 0 %>
		<% time1 += 1 %>
	<% end %>
<% end %>