<% time2 = 0 %> 
<% room_span = {} %>
<% time1 = $TIMETABLESTART %>
<% range = $TIMETABLEEND * 4%>	
<%- range.times do -%>
	<tr><%- until_time = ((time2 + 15) unless time2 == 45) || 0 -%>
		<td><%= h time1 %>:<%= time2.to_i.zero? ? "00" : time2 %> - <%= h until_time == 0 ? (time1 + 1) : time1 %>:<%= until_time.to_i.zero? ? "00" : until_time %></td>
		<%# Schleife über 5 Werktage
		  # Es wird für jede Stunde geprüft ob ein Kurs zum aktuellen Tag und dem aktuellen Raum existiert 
		  # Wenn zwei oder mehr Kurse für die selbe Zeit eingetragen sind, erscheint eine Fehlermeldung %>
		<%- 5.times do |day| -%>
		
			<%- course_now = Course.find_all_by_start_and_weekday_and_room_id(Time.mktime(0,1,1,time1,time2).utc, (day+1), @room.id) -%>
			<%- if course_now.count > 1 -%>
				<td class="timeTableCell"> <p class="warning">Überschneidung!</td>
			<%- elsif !course_now[0].nil? -%>
				<%- room_span[day+1] = ((course_now[0].duration - course_now[0].start) / 900).to_i -%>
				<td class="timeTableCell" rowspan="<%= room_span[day+1] %>">
				<%= link_to course_now[0].get_name, course_now[0] %>
			<%- else -%>
				<%- if (room_span[day+1].to_i-1) <= 0 -%>
					<td class="timeTableCell"></td>
				<%- else -%>
					<%- room_span[day+1] -= 1 -%>

				<%- end -%>
				</td>
			<%- end -%>
			
		<%- end -%>

	</tr>
	<% time2 += 15%>
	<% if time2 > 45 %>
		<% time2 = 0 %>
	<% end %>
	<% if time2 == 0 %>
		<% time1 += 1 %>
	<% end %>
<% end %>