<% room = @room %>

<h1>Stundenplan für Raum <%= h room.name %></h1>
<p>Es wurden <b><%= room.courses.count %></b> Kurse für den Raum gefunden</p>

<hr>
<p></p>
<div class="simpleBorder">
<table>
	<tr>
		<th>Zeit</th>
		<th>Montag</th>
		<th>Dienstag</th>
		<th>Mittwoch</th>
		<th>Donnerstag</th>
		<th>Freitag</th>
	</tr>
<% time = $TIMETABLESTART %>	
<% $TIMETABLEEND.times do %>
	<tr>
		<td><%= h time %>:00</td>
		<%# Schleife über 5 Werktage
		  # Es wird für jede Stunde geprüft ob ein Kurs zum aktuellen Tag und dem aktuellen Raum existiert 
		  # Wenn zwei oder mehr Kurse für die selbe Zeit eingetragen sind, erscheint eine Fehlermeldung %>
		<% 5.times do |day| %>
			<% courseNow = Course.find(:all, :conditions => "start like '#{time}%' AND weekday = #{day+1} AND room_id = #{room.id}") %>
			<% if courseNow[0].nil? %>
				<td class="timeTableCell"> - </td>
			<% elsif courseNow.count > 1 %>
				<td class="timeTableCell"> <p class="warning">Überschneidung!</td>
			<% else %>
				<td class="timeTableCell"><%= h courseNow[0].name %><br><%= h Teacher.find(courseNow[0].teacher_id).lastname %></td>
			<% end %>
		<% end %>

	</tr>
<% time += 1 %>
<% end %>
</table>
</div>