<h1>Kursübersicht für Tag <%= @weekdayNo %></h1>

<div class="simpleBorder">
<table>
	<tr>
		<th>Zeit</th>
		<% @allRooms.each do |r| %>
			<th><%= h r.name %>
		<% end %>
	</tr>
	<% time = $TIMETABLESTART %>	
	<% $TIMETABLEEND.times do %>
		<tr>
		<td><%= h time %>:00</td>
		<% @allRooms.each do |r| %>
			<% if !@courseTimes[time.to_s][r.id.to_s].nil? %>
				<% cID = @courseTimes[time.to_s][r.id.to_s] %>

				<td><%= Course.find(cID).name %></td>
			<% else %>
				<td></td>
			<% end %>	
		<% end %>
		</tr>
		<% time += 1 %>
	<% end %>
</table>
</div>

<% if @isScheduled == 1 %>
<hr>

<div class="simpleBorder">
<table>
	<tr>
		<th>Zeit</th>
		<% @allRooms.each do |r| %>
			<th><%= h r.name %>
		<% end %>
	</tr>
	<% time = $TIMETABLESTART %>	
	<% $TIMETABLEEND.times do %>
		<tr>
		<td><%= h time %>:00</td>
		<% @allRooms.each do |r| %>
			<!-- Kurse die laut alten Plan noch immer im selben Raum stattfinden können -->
			
			<!-- Kurse die laut alten Plan nicht mehr im selben Raum stattfinden können -->
			<% if !@courseTimes[time.to_s][r.id.to_s].nil? && @roomID.to_i == r.id.to_i  %>
				<% cID = @courseTimes[time.to_s][r.id.to_s] %>
				<td style="background-color: red"><%= Course.find(cID).name %></td>
			<!-- evtl neuer Plan -->
			<% else %>
				<!-- Suche direkten Ersatz-Raum -->
				<% direct = nil %>
				<% @freeRooms.each do |course, room| %>
					<% c1 =  (room.to_i == r.id.to_i) %>
					<% tmp = Course.find(course) %>
					<% if c1 && tmp.start.strftime("%H").to_i == time %>
						<% direct = tmp %>
					<% end %>
				<% end %>
				
				<% if !direct.nil? %>
					<td style="background-color: green"><%= direct.name %></td>
				<!-- kein direkter Ersatz-Raum vorhanden: entweder kein Kurs oder indirekter Ersatzraum -->
				<% else %>
					<%# @allScheduledRooms.each do %>
						
				
					<td>-</td>
				<% end %>
			<% end %>
		<% end %>
		</tr>
		<% time += 1 %>
	<% end %>
</table>
</div>



<% end %>

</div>