	<%- time2 = 0 %> 
	<%- room_span = {} -%>
	<%- time1 = $TIMETABLESTART -%>
	<%- range = $TIMETABLEEND * 4 -%>	
	<%- range.times do -%>
		<tr><%- until_time = ((time2 + 15) unless time2 == 45) || 0 -%>
			<td><%= h time1 %>:<%= time2.to_i.zero? ? "00" : time2 %> - <%= h until_time == 0 ? (time1 + 1) : time1 %>:<%= until_time.to_i.zero? ? "00" : until_time %></td>
			<%# Schleife 端ber 5 Werktage
			  # Es wird f端r jede Stunde gepr端ft ob ein Kurs zum aktuellen Tag und dem aktuellen Raum existiert 
			  # Wenn zwei oder mehr Kurse f端r die selbe Zeit eingetragen sind, erscheint eine Fehlermeldung %>
			<% Room.find(:all).map(&:id).each do |r_id| %>
				<%- tmp_time = Time.mktime(0, 1, 1, time1, time2) -%>
				<% schedule_course = get_for_start_time_and_room(tmp_time, r_id) %>
				<%# logger.debug ">>>> action room = #{r_id == @action.busy_room.id}" -%>
				<% if r_id == @action.busy_room.id && tmp_time.between?(@action.busy_start, @action.busy_end-1) %>
					<% style = "style=\"background: red;\"" %>
				<% elsif !schedule_course.nil? && schedule_course.flag > 1 %>
					<% style = "style=\"background: green;\"" %>
				<% else %>
					<% style = "" %>
				<% end %>
				
				
				<%- if !schedule_course.nil? -%>
					<%- room_span[r_id] = ((schedule_course.new_end - schedule_course.new_start) / 900).to_i -%>
					
					<td <%= style %> class="timeTableCell" rowspan="<%= room_span[r_id] %>">
					<%= schedule_course.course.name_and_subject %>
				<%- else -%>
					<%- if (room_span[r_id].to_i-1) <= 0 -%>
						<td <%= style %> class="timeTableCell"></td>
					<%- else -%>
						<%- room_span[r_id] -= 1 -%>
					<%- end -%>
					</td>
				<%- end -%>

			<%- end -%>

		</tr>
		<% time2 += 15%>
		<% if time2 > 45 %>
			<% time2 = 0 %>
		<% end %>
		<% if time2 == 0 %>
			<% time1 += 1 %>
		<% end %>
	<% end %>