


	<%- time2 = 0 %> 
	<%- room_span = {} -%>
	<%- time1 = $TIMETABLESTART -%>
	<%- range = $TIMETABLEEND * 4 -%>	
	<%- range.times do -%>
		<tr><%- until_time = ((time2 + 15) unless time2 == 45) || 0 -%>
			<td><%= h time1 %>:<%= time2.to_i.zero? ? "00" : time2 %> - <%= h until_time == 0 ? (time1 + 1) : time1 %>:<%= until_time.to_i.zero? ? "00" : until_time %></td>
			<%# Schleife 端ber 5 Werktage
			  # Es wird f端r jede Stunde gepr端ft ob ein Kurs zum aktuellen Tag und dem aktuellen Raum existiert 
			  # Wenn zwei oder mehr Kurse f端r die selbe Zeit eingetragen sind, erscheint eine Fehlermeldung %>
			<% Room.find(:all).map(&:id).each do |r| %>
				<% courseNow = getForStartTimeAndRoom(time1, time2, r) %>
				
				<% if r == $busyRoomID && 
					Time.mktime(0,1,1,time1.to_i, time2.to_i).between?(Time.mktime(0,1,1,$busyStartH,$busyStartM), Time.mktime(0,1,1,$busyEndH,$busyEndM)) %>
					<% style = "style=\"background: red;\"" %>
				<% elsif !courseNow.nil? && courseNow.key?(:changed) %>
					<% style = "style=\"background: green;\"" %>
				<% else %>
					<% style = "" %>
				<% end %>
				
				
				<%- if !courseNow.nil? -%>
					<%- room_span[r] = ((courseNow[:endTime] - courseNow[:startTime]) / 900).to_i -%>
					<%- logger.debug ">>>> Tag #{r} >>> Zeit #{time1}:#{time2} >>> #{room_span[r]}" -%>
					<td <%= style %> class="timeTableCell" rowspan="<%= room_span[r] %>">
					<%= Course.find(courseNow[:course]).name_and_subject %>
				<%- else -%>
					<%- if (room_span[r].to_i-1) <= 0 -%>
						<td <%= style %> class="timeTableCell"></td>
					<%- else -%>
						<%- room_span[r] -= 1 -%>
						<%- logger.debug ">>>> Tag #{r} >>> Zeit #{time1}:#{time2} > -- #{room_span[r]}" -%>
					<%- end -%>
					</td>
				<%- end -%>

			<%- end -%>

		</tr>
		<% time2 += 15%>
		<% if time2 > 45 %>
			<% time2 = 0 %>
		<% end %>
		<% if time2 == 0 %>
			<% time1 += 1 %>
		<% end %>
	<% end %>