<h1>Scheduler</h1>

<h2><%= "Raum ID: " + $busyRoomID.to_s + 
		" am Tag: " + $weekdayString + 
		" von " + $busyStartH.to_s + ":" + $busyStartM.to_s + 
		" bis " + $busyEndH.to_s + ":" + $busyEndM.to_s %></h2>

<br/>
<% if !$scheduleCourses.nil? %>
	<%= "gefunden Kurse: " + $scheduleCourses.count.to_s %>
	<br/><br/>
	<% $scheduleCourses.each do |cID| %>
		<% c = Course.find(cID) %>
		<%= "<b>" + c.name + "</b> von " + c.start.strftime("%H:%M") + " bis " + c.duration.strftime("%H:%M") %><br/>
	<% end %>
<% end %>
<hr/>


<h3>nach Schritt A</h3>


<div class="simpleBorder">
<table>
	<tr>
		<th>Zeit</th>
		<% Room.find(:all).each do |r| %>
			<th><%= r.name %></th>
		<% end %>
	</tr>
	<%= render :partial => "roomTimeTable" %> 
</table>
</div>




<%= "B:" + $scheduleBCourses.inspect %>
<br/>
