<h2><%= "Raum ID: " + $busyRoomID.to_s + 
		" am Tag: " + $weekdayString + 
		" von " + $busyStartH.to_s + ":" + $busyStartM.to_s + 
		" bis " + $busyEndH.to_s + ":" + $busyEndM.to_s %></h2>

<br/>

<%= $scheduleBCourses.inspect %>

<br/><br/>

<%= @scheduleHashCourses.inspect %>

<h3>In Bearbeitung...</h3>

<%= render :partial => "roomTimeTable" %> 

<br/><br/>
<%= "A:" + $scheduleCourses.inspect %>
<br/>
<%= "B:" + $scheduleBCourses.inspect %>
<br/>
<%= "C:" + @scheduleCCourses.inspect %>
<br/>
