
<%= render :partial => "schedule_action" unless @action.nil? %>

<%- if @id == 1 %>

	<p>Schedules</p>
	<ul>
	<%= render :partial => "schedules", :collection => @schedules, :as => :schedule unless (@schedules.nil? || @schedules.empty?) %>
	</ul>
	
	<p>step_b_courses</p>
	<%= debug @step_b_courses.map(&:course_id) %>
	
<%- end -%>	

<%- if @id == 2 %>

		<p>Step B Schedule Courses</p>
		<ul>
		<%= render :partial => "schedules", :collection => @step_b_courses, :as => :schedule unless (@step_b_courses.nil? || @step_b_courses.empty?) %>
		</ul>
		

<%- end -%>

<%- if @id == 3 %>

		<p>Step C Schedule Courses</p>
		<ul>
		<%= render :partial => "schedules", :collection => @step_c_courses, :as => :schedule unless (@step_c_courses.nil? || @step_c_courses.empty?) %>
		</ul>

<%- end -%>
	
	<div class="simpleBorder">
	<table>
		<tr>
			<th>Zeit</th>
			<% Room.find(:all).each do |r| %>
				<th><%= r.name %></th>
			<% end %>
		</tr>
		<%= render :partial => "room_table" %> 
	</table>
	</div>


