<h1>Raumplaner</h1>

<% form_tag :action => "search" do %>

<p>
<%= label :room_id, "Raum" %>
<%= select_tag(:room_id, options_from_collection_for_select(@rooms, :id, :name), :room_id => 3) %>
</p>
<p>
<%= label :date, "Datum:" %>
<%= text_field_tag :date, "10/08/2009", :class => "date_pick" %>
</p>
<div style="clear: both;"></div>
<p>
<%= label :time_start, "Begin:" %>
<%= time_select "time", "start", {:minute_step => 15} %>
<p>
<p>
<%= label :time_end, "Ende:" %>
<%= time_select "time", "end", {:minute_step => 15} %>
<p>

<p>
<%= submit_tag "choose" %>
</p>
<% end %>


<p>Zum Testen: <br/><br/>
	Raum: drei<br/>
	Tag ein Montag (per default schon eingestellt)<br/>
	- einfache Variante: Beginn: &gt;= 15:00 Uhr<br/>
	- weitere Variante: Beginn: &lt;= 14:45 Uhr<br/>
</p>