<h1>Zeit-Grenze einstellen</h1>
<h2>Für die folgenden Kurse konnte kein Ersatzraum zur gleichen Zeit gefunden werden</h2>
<h3>Bitte wählen sie einen neuen maximalen Zeitraum für den jeweiligen Kurs aus</h3>
Kurse:
<ul>
<% $scheduleBCourses.each do |cID| %>
	<% course = Course.find(cID) %>
	<!-- Bsp.-Ausgabe: (1) Gitarrenunterricht von 12:00 bis 13:00 bei Johannes Schmidt -->
	<li><%= "(" + cID.to_s + ") " +
				course.name + " von " +
				course.start.strftime("%H") + ":" + course.start.strftime("%M") + " bis " +
				course.duration.strftime("%H") + ":" + course.duration.strftime("%M") + " bei " +
				Teacher.find(course.teacher_id).firstname + " " + Teacher.find(course.teacher_id).lastname %>
	</li>
<% end %>

</ul>


<% form_tag :action => "continueChecking" do %>

<% $scheduleBCourses.each do |cID| %>
	<% timeLimits = [] %>
	<p>
	<%= label :courseID, "ID: " + cID.to_s %>
	<%= hidden_field_tag("courseID[]", cID) %>
	</p>
	<p>
	<%= label :time_start, "Begin:" %>
	<%= time_select "time", cID.to_s+"_start", {:minute_step => 15} %>
	<p>
	<p>
	<%= label :time_end, "Ende:" %>
	<%= time_select "time", cID.to_s+"_end", {:minute_step => 15} %>
	<p>
<% end %>
<p>
<%= submit_tag "choose" %>
</p>
<% end %>