<h1>Presencelist</h1>
<!--
@course = 2
@startDate = "2009-06-08"
@endDate = "2009-06-08"
@datePrefix = "2009-06"
@days = ["08", "15", "22", "29"]
@foundList = Courselist.find_all_by_course_id(2)
@pupils = @foundList.map(&:pupil_id)
-->

<br/><br/>
<% form_tag :action => "saving" do %>
	<div class="simpleBorder">
	<table>
		<tr>
			<th>Sch&uuml;ler</th>
			<% @days.each do |day| %>
				<th><%= @date_prefix + day %></th>
			<% end %>
			<th>Kommentar</th>
		</tr>
		<% @pupils.each do |pID| %>
			<tr>
			<td><%= Pupil.find(pID).get_full_name %></td>
			<% @days.each do |day| %>
				<td><% form_name = "status_" + pID.to_s + "[" + @date_prefix + day + "]" %>
				<%= check_box_tag form_name, 1 %></td>
				<td><%= text_area_tag :comment %></td>
			<% end %>
			</tr>
		<%- end -%>
		
	</table>
	</div>
	<br/><br/>
	<%= submit_tag "Speichern" %>
<%- end -%>
