	<script type="text/javascript" charset="utf-8">
			$(function()
			{
				$('.date-pick').datePicker({startDate:'01/01/2000'});
			});
		</script>

<h1>Listing presencelists</h1>
<table>
  <tr>
    <th>Date</th>
    <th>Status</th>
    <th>Comment</th>
  </tr>

<% @presencelists.each do |presencelist| %>
  <tr>
    <td><%=h presencelist.date %></td>
    <td><%=h presencelist.status %></td>
    <td><%=h presencelist.comment %></td>
    <td><%= link_to 'Show', presencelist %></td>
    <td><%= link_to 'Edit', edit_presencelist_path(presencelist) %></td>
    <td><%= link_to 'Destroy', presencelist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<hr/>

<p>Herzlich Willkommen, Sie sind eingeloggt als <%= @firstname + " " + @lastname %></p>
<p>Sie haben zur Zeit <%= @courses.count %> Kurse</p>
<% todayDate = Time.now.strftime("%d") + "/" + Time.now.strftime("%m") + "/" + Time.now.strftime("%Y") %>
<div class="simpleBorder">
<table>
	<tr>
		<th>Wochentag</th>
		<th>Uhrzeit</th>
		<th>Anfang</th>
		<th>Liste generieren</th>
	</tr>
<% displayDate = true %>
<% if @courses.count > 0 %>
	<% @courses.each do |@course| %>
		<% day = case @course.weekday
			when 1	then	"Montag"
			when 2	then	"Dienstag"
			when 3	then	"Mittwoch"
			when 4 	then	"Donnerstag"
			when 5 	then	"Freitag"
		end %>
		<tr>
			
			<% form_tag :action => "generate" do %>
				<%= hidden_field_tag(:course_id, @course.id) %>
				<%- if @course.weekday == Time.now.wday -%>
					<td><b><%= day %></b></td>
				<%- else -%>
					<td><%= day %></td>
				<%- end -%>
				<td><%= @course.start.strftime("%H:%M") %></td>
				<td><%= text_field_tag :date, todayDate, :class => "date-pick" %></td>
				<td><%= submit_tag "Liste erzeugen" %></td>
			<% end %>
		</tr>
	<% end %>
<% end %>
</table>

</div>

