<p>
  <b>Name:</b>
  <%=h @room.name %>
</p>

<p>
  <b>Size:</b>
  <%=h @room.size %>
</p>

<p>
  <b>Comment:</b>
  <%=h @room.comment %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>