<h1>Kurs editieren</h1>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.time_select :start, {:minute_step => 15} %>
  </p>
  <p>
    <%= f.label :ende %><br />
    <%= f.time_select :duration, {:minute_step => 15} %>
  </p>
  <p>
    <%= f.label :Wochentag %><br />
    <%= f.text_field :weekday %>
  </p>
  <p>
    <%= f.label :Einzelunterricht %><br />
    <%= f.check_box :coursetype %>
  </p>
  <p>
    <%= f.label :honorarTyp %><br />
    <%= f.check_box :honorartype %>
  </p>
  <p>
    <%= f.label :honorar %><br />
    <%= f.text_field :honorar %>
  </p>
  <p>
    <%= f.label :Kommentar %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% end %>

<%= link_to 'Details', @course %> |
<%= link_to 'Zur&uuml;ck', courses_path %>