<h1>Neuer Kurs</h1>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.time_select :start, {:minute_step => 15} %> Uhr
  </p>
  <p>
    <%= f.label :Ende %><br />
    <%= f.time_select :duration, {:minute_step => 15} %> Uhr
  </p>
  <p>
    <%= f.label :Wochentag %><br /><small>1 = Montag, ..., 5 = Freitag</small><br />
    <%= f.text_field :weekday %>
  </p>
  <p>
    <%= f.label :Einzelunterricht %><br />
    <%= f.check_box :coursetype %>
  </p>
  <p>
    <%= f.label :HonorarTyp %>: Monat<br />
    <%= f.check_box :honorartype %>
  </p>
  <p>
    <%= f.label :Honorar %><br />
    <%= f.text_field :honorar %>
  </p>
  <p>
    <%= f.label :Kommentar %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% end %>

<%= link_to 'Zur&uuml;ck', courses_path %>