<h1>Listing Kurszuweisungen</h1>


<table>
  <tr>
    <th>Kurs</th>
    <th>Sch&uuml;ler</th>
    <th>Anmeldung</th>
    <th>K&uuml;ndigung</th>
    <th>gek&uuml;ndigt</th>
    <th>Kommentar</th>
  </tr>

<%- @courselists.each do |courselist| -%>
  <tr>

    <td><%= link_to courselist.course.name, courselist.course %></td>
	<%- p = Pupil.find(courselist.pupil_id) -%>
	<td><%= link_to p.get_full_name, p %></td>
    <td><%=h courselist.register.strftime("%d.%m.%Y") %></td>
	<%- if courselist.quit == "1970-01-01" -%>
    	<td><%=h courselist.quit.strftime("%d.%m.%Y") %></td>
	<%- else -%>
		<td> - </td>
	<%- end -%>
    <td><%=h courselist.canceled %></td>
    <td><%=h courselist.comment %></td>
    <td><%= link_to 'Show', courselist %></td>
    <td><%= link_to 'Edit', edit_courselist_path(courselist) %></td>
    <td><%= link_to 'Destroy', courselist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%- end -%>
</table>

<br />

<%= link_to 'New courselist', new_courselist_path %>