<h1>Neuer Sch&uuml;ler</h1>

<% form_for(@pupil) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Vorname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :Nachname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :Telefon %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :Geburtstag %><br />
    <%= f.date_select :birthday, :start_year => 1930, :end_year => 2008, :order => [:day, :month, :year], :use_month_numbers => true %>
  </p>
  <p>
    <%= f.label :Geschlecht%><br /><small>Haken = m, sonst = w</small><br />
    <%= f.check_box :gender %>
  </p>
  <p>
    <%= f.label :Info %><br />
    <%= f.text_field :flags %>
  </p>
  <p>
    <%= f.label :Kommentar %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% end %>

<%= link_to 'Zur&uuml;uck', pupils_path %>