<p>
  <b>Vorname:</b>
  <%=h @pupil.firstname %>
</p>

<p>
  <b>Nachname:</b>
  <%=h @pupil.lastname %>
</p>

<p>
  <b>Telefon:</b>
  <%=h @pupil.phone %>
</p>

<p>
  <b>Geburtstag:</b>
  <%=h @pupil.birthday.to_s %>
</p>

<p>
  <b>Geschlecht:</b>
  <%= @pupil.gender == false ? "w" : "m" %>
</p>

<p>
  <b>Info:</b>
  <%=h @pupil.flags %>
</p>

<p>
  <b>Kommentar:</b>
  <%=h @pupil.comment %>
</p>

<p>
	Kurse:
	<ul>
		<%- @pupil.courselists.each do |list| -%>
		<li><%= link_to list.course.pretty_name, list.course %></li>
		<%- end -%>
	</ul>	
</p>

<%= link_to 'neuer Kurs', '../courselists/new_course_for_user/0?pupil=' + @pupil.id.to_s %>

<br/><br/>
<%= link_to '&Auml;ndern', edit_pupil_path(@pupil) %> |
<%= link_to 'Zur&uuml;ck', pupils_path %>